body {
    font-family: 'Bacasime Antique', serif;
    font-family: 'Poppins', sans-serif;
    /* background-image: url('/Images/im2.jpg'); 
    background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat;   */
    /* width: 100%;
        height: 100%;
         object-fit: cover; */
    margin: 0;
    padding: 0;
    background-color:black;

}
.navbar-custom {
    background-color: #6c757d;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;

}
.home-content{
    /* display: flex; */
}
.home-page-heading{
    text-align: center;
    color: #fff;
   
}
.home-page-heading h1{
    font-size: 5em;
}
.home-page-heading p{
    font-size: 2em;
}